body {
	background-image: url(images/background2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: auto;
}

a.menu {
	text-decoration: none;
	color: white;
}

div.menu {
	background-color: black;
	padding: 20px;
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
}

div.container {
	opacity: 0.9;
	top: 20pt;
	background-color:white; 
	color:black; 
	font-family: verdana;
	padding:20px;
	margin-left: 100px;
	margin-right: 100px;
}

span.menu {
	text-decoration: none;
	padding: 15px;
}
	
span.menu:hover {
	background-color: white;
	opacity: 1;
    color: black;
	text-decoration: none;
	padding: 15px;
	top: 0;
	margin: 0;
}

#footer {
    display: block;
    width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
    background: #666666 repeat-x;
	text-align: center;
}